
* {
    font-family: Verdana, sans-serif;
    text-align: left;
}

h1 {
    font-family: Verdana, sans-serif;
    font-size: 36px;
}

.main {
    background-color: rgb(255, 211, 219);
    color: orange;
    text-align: center;
}

.para {
    font-size: 20px;
}

h2 {
    font-size: 24px;
    font-weight: 800;
}

.img {
    height: 520px;
    width: auto;
}

.pesto {
    background-color: rgb(57, 82, 57);
    color: white;   
}

.buffalo {
    background-color: rgb(253, 111, 59);
    color: white;
}
.taco {
    background-color: rgb(70, 53, 32);
    color:white;
}